<!DOCTYPE html>
<head>
	<meta charset="UTF-8" />
	<title>您的浏览器已经过时了，请及时升级</title>
	<style>
	html,body{margin:0;padding:0;width:100%;height:100%;background:#1abc9c;color:white;}
	
	h1{
	  width:650px;
	  margin: auto; 
	  position: absolute; 
	  top: 0; left: 0; bottom: 0; right: 0; 
	  height:100px;
	  font-family:"微软雅黑"
	}
	*h1{
		text-align:center;
		width:100%;
		margin-top:100px;
	}
	a{
		margin-right:20px; 
	}
	a:link,a:active,a:visited{
		color:white;
		text-decoration: none;
	}
	a:hover{
		color:white;
		text-decoration: underline;
	}
	</style>
</head>
<body>
	<div id="jieti">
		<h1>小伙伴们，让我们联起手来，干掉IE6、IE7！
			<br/>
			<p style="text-align:center;height:20px;">您的浏览器已经过时了，推荐升级：
				<br/>
				<a href="http://www.google.cn/intl/zh-CN/chrome/browser/">chrome</a>
				<a href="http://ie.microsoft.com/">IE</a>
				<a href="http://www.opera.com/zh-cn">opera</a>
				<a href="http://www.mozilla.org/zh-CN/firefox/new/">firefox</a>
			</p>
		</h1>
	</div>
</body>